.ant-btn-primary {
    height: 58px;
    border: none;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    background: $background_primary;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3),
      inset 2px 4px 4px rgba(73, 73, 73, 0.4);
    border-radius: 5px;
    padding: 16px 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  
    span.wallet {
      padding-left: 5px;
      color: $color_blue_1;
    }
  
    &:focus,
    &:active,
    &:hover {
      background: $background_primary;
      opacity: 0.8;
    }
  }
  
  .ant-popover {
    &-arrow {
      display: none;
    }
  
    &-inner {
      box-shadow: 0px 16px 64px rgba(31, 47, 70, 0.2);
      border-radius: 5px;
    }
  
    &-inner-content {
      padding: 0;
  
      .button-disconnect {
        padding-left: 32px;
        padding-right: 32px;
      }
    }
  }
  
  .walletconnect-modal__mobile__toggle {
    display: none !important;
  }
  